<main>
    <div class="hero">
        <div class="hero__content">
            <h1>Book Tracker</h1>
            <p>Track your reading journey with ease. Discover new books tailored<br /> to your tastes.</p>   
            <button><a routerLink="/create" class="btn btn-primary">Get Started</a></button>
        </div>
    </div>
    <div class="screenshot">
        <img src="assets/app-screenshot.png" alt="Book Tracker Screenshot" class="screenshot__image">
    </div>

    <section class="features">
        <h2>Powerful Tracking Features</h2>
        <div class="features-grid">
            <div class="feature-card">
                <div class="feature-icon">
                    <img src="assets/analytics.png" alt="">

                </div>
                <h3>Reading Analytics</h3>
                <p>Visualize your reading habits with detailed charts and statistics</p>
            </div>
           
            <div class="feature-card">
                <div class="feature-icon">
                    <img src="assets/response.png" alt="">
                </div>
                <h3>Multi-Device Sync</h3>
                <p>Seamlessly access your reading data across all devices.</p>
              </div>

              <div class="feature-card">
                <div class="feature-icon">
                    <img src="assets/timeline.png" alt="">
                </div>
                <h3>Reading Calendar</h3>
                <p>Track your reading journey on a timeline and never forget when you read a book</p>
              </div>

        </div>
    </section>
</main>


<footer>
    <div class="copyright">
        &copy; 2025 Book Tracker. All rights reserved.
    </div>
 
</footer>