.hero {
    /* margin: 0 auto; */

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C214C;
    color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
    height: 500px;
    
    
}


.hero * {
    text-align: center;
    
}

button {
    padding: 10px 20px;
    background-color: hsl(21, 75%, 53%);
    border:none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;

    font-size: 16px;
}
a {
    /* background-color: hsl(21, 75%, 53%); */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    /* margin-top: 50px; */

}

.hero__content * {
    margin: 10px 0;
}

.screenshot {
    margin: -60px auto 0 auto;
    text-align: center;
    
}
.screenshot img {
    width: 1200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
    box-shadow: 0 0 15px rgba(252, 252, 252, 0.8);
}


.features {
    color: #F2F2F2; 
    padding: 20px;
    width: 100%;

    margin-bottom: 50px;
   
}

.features h2 {
    text-align: center;
    margin: 80px 0;
}

.features-grid {


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;

    max-width: 80%;
    align-items: center;
    /* justify-content: center; */
    text-align: center;

}

.feature-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.feature-card p{
    color: rgba(255, 255, 255, 0.8);
    
}

.hero__content h1 {
    font-size: 52px;
}

.hero__content p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    
}

.hero__content {
    margin-top: -20px;
}

footer {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    justify-content: center;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    padding: 20px 0;
}